youtube播放列表更新推送.json
{
  "name": "youtube推送",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "8ca2c87d-e197-4220-98b7-16afa531b153",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        980,
        1100
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "minutes"
      },
      "id": "780b2f66-8661-47ac-8e1d-81602e25497f",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1340,
        1200
      ],
      "webhookId": "ddb690b5-0c51-4083-8e3d-341f22422431"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d8b64ed7-f01c-457f-9bda-3c108cb3fa18",
              "leftValue": "={{ $json.firstid }}",
              "rightValue": "={{ $json.secondid }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4cb32615-451f-4d1f-98fa-5302f0c12d5f",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        2380,
        1080
      ]
    },
    {
      "parameters": {
        "operation": "playlist",
        "playlist_id": "PL3BIM0qw9KX_zzZTzspYuUe_3AI7tXdym"
      },
      "id": "f6630246-fa76-480e-a5ff-1cece9a17605",
      "name": "Youtube Videos Node2",
      "type": "n8n-nodes-youtube.youtubeVideosNode",
      "typeVersion": 1,
      "position": [
        1340,
        1020
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "id": "f0a42904-c876-415b-b387-27a24e57b394",
      "name": "Limit2",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1580,
        1020
      ]
    },
    {
      "parameters": {
        "operation": "playlist",
        "playlist_id": "PL3BIM0qw9KX_zzZTzspYuUe_3AI7tXdym"
      },
      "id": "ee322dd8-e69e-4960-9744-75cd54a2e802",
      "name": "Youtube Videos Node3",
      "type": "n8n-nodes-youtube.youtubeVideosNode",
      "typeVersion": 1,
      "position": [
        1580,
        1200
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "id": "d1569108-2e9d-4fb7-bab1-e7d45df99ed3",
      "name": "Limit3",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1780,
        1200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1402d033-649a-4b60-acdd-0ecc71ee930e",
              "name": "firstid",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "577dbb72-ea6f-4870-9750-ffb0dd75e76d",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1800,
        1020
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1402d033-649a-4b60-acdd-0ecc71ee930e",
              "name": "secondid",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "74177583-125f-44ec-89e3-ff12c6197622",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1940,
        1200
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "bd5f4e2b-a8a0-48b9-9d2d-77566cf44295",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2200,
        1080
      ]
    },
    {
      "parameters": {
        "chatId": "@mokoomusic",
        "text": "=<b>New public like via YouTube :</b>\n\nTitle: <a href=\"https://www.youtube.com/watch?v={{ $json.id }}\">{{ $json.title }}</a>\nChannel: <a href=\"https://www.youtube.com/channel/{{ $json.channel.id }}\">{{ $json.channel.name }}</a>\n\nViewCount: <code>{{ $json.viewCount }}</code>  PubDate: <code>{{ $json.uploadDate }}</code>",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": false,
          "disable_web_page_preview": false,
          "parse_mode": "HTML"
        }
      },
      "id": "1039ab6f-6fe9-4e8d-b9bb-755c9b77e039",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3400,
        1060
      ],
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "90qCUOfiyn5RGFyP",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "search",
        "keywords": "={{ $json.title }} - {{ $json.channel.name }}"
      },
      "id": "6eb7d271-e0ea-4d51-97de-e76f54cedee4",
      "name": "Youtube Videos Node1",
      "type": "n8n-nodes-youtube.youtubeVideosNode",
      "typeVersion": 1,
      "position": [
        2620,
        1220
      ]
    },
    {
      "parameters": {},
      "id": "7bb54717-2b3a-4c0e-9d69-9f63e5ef72d3",
      "name": "Limit1",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2780,
        1220
      ]
    },
    {
      "parameters": {
        "url": "https://mastodon.social",
        "text": "=New public like via YouTube :\n\nTitle: {{ $json.title }}\nChannel: {{ $json.channel.name }}\nUrl: https://www.youtube.com/watch?v={{ $json.id }}\n\nViewCount: {{ $json.viewCount }}  PubDate: {{ $json.uploadDate }}",
        "additionalFields": {
          "attachments": "=imagefile",
          "possiblySensitive": false
        }
      },
      "id": "4fb67f4b-63db-4d1b-a17a-75dd46c2a28d",
      "name": "Mastodon",
      "type": "n8n-nodes-mastodon.mastodon",
      "typeVersion": 1,
      "position": [
        3520,
        1280
      ],
      "credentials": {
        "mastodonOAuth2Api": {
          "id": "ij3HqJKmOinoxwKC",
          "name": "Mastodon account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.thumbnail }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "imagefile"
            }
          }
        }
      },
      "id": "9f64d14b-8c4a-4b04-a8bd-5434a315dbee",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3300,
        1280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0c3d7a4-92e8-46c0-926b-c8ae1eb3c7ac",
              "name": "viewCount",
              "value": "={{ $json.viewCount }}",
              "type": "number"
            },
            {
              "id": "84c86373-645f-453e-998c-da19d697f441",
              "name": "uploadDate",
              "value": "={{ $json.uploadDate }}",
              "type": "string"
            },
            {
              "id": "b777ee52-131b-4331-b910-2be537a67524",
              "name": "description1",
              "value": "={{ $json.description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "377a6c8b-706d-4ae0-b7e8-f04ddd3cc287",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2960,
        1220
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "583783cf-a81d-413f-8cd3-249111dc0fef",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3160,
        1060
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.thumbnail }}",
        "options": {}
      },
      "id": "47e3cd2f-db6a-497a-9af6-4fb22f095ba8",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3300,
        1480
      ]
    },
    {
      "parameters": {
        "operation": "resize",
        "options": {
          "fileName": "image.png",
          "format": "png"
        }
      },
      "id": "1c620942-2e47-4c59-a484-f898d2645d95",
      "name": "Edit Image",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        3540,
        1480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://seaya.link/short",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "longUrl",
              "value": "={{ $json.encodedUrl }}"
            },
            {
              "name": "shortUrl"
            }
          ]
        },
        "options": {}
      },
      "id": "3ccc7b46-657c-43ef-a13c-a2dd5e6485da",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4220,
        1780
      ]
    },
    {
      "parameters": {
        "jsCode": "// 获取输入数据\nconst longUrl = $input.item.json.longUrl; // 假设你在前面有一个节点设置了 longUrl\n\n// 定义 Base64 编码的函数\nfunction toBase64(str) {\n    return Buffer.from(str).toString('base64');\n}\n\n// 对 longUrl 进行 Base64 编码\nconst encodedUrl = toBase64(longUrl);\n\n// 返回编码后的结果\nreturn [\n    {\n        json: {\n            longUrl: longUrl,\n            encodedUrl: encodedUrl\n        }\n    }\n];\n"
      },
      "id": "e9d0a325-cea6-4aca-8989-249f46d4fcb8",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4000,
        1780
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a56056d3-bd2f-4df7-aee2-74b9f12d72e9",
              "name": "longUrl",
              "value": "=https://www.youtube.com/watch?v={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "02d775f7-1f63-4fda-83cf-fde5037a2cea",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3760,
        1780
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "0aac5686-e63e-4c6b-aa08-35d6a7b9a1ef",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4360,
        1500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.nmbxd1.com/Home/Forum/doReplyThread.html",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Cookie\": \"userhash=\"\n}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "resto",
              "value": "64308586"
            },
            {
              "name": "name",
              "value": "= "
            },
            {
              "name": "content",
              "value": "=New public like via YouTube :\n\nTitle: {{ $json.title }}\nChannel: {{ $json.channel.name }}\nUrl: {{ $json.ShortUrl }}\n\nViewCount: {{ $json.viewCount }}  PubDate: {{ $json.uploadDate }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "78e85a92-af41-48ca-b950-a8c17f9091a6",
      "name": "nmbxd",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4540,
        1500
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "Youtube Videos Node2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Youtube Videos Node3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Youtube Videos Node2": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Youtube Videos Node3": {
      "main": [
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Youtube Videos Node1": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Mastodon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "Youtube Videos Node1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "nmbxd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d7b4653f-7778-4dd3-9abb-56317d235196",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e7aaaa8c870be3f4e9635b0143bd190be7e08ab73ad622f6064ea6a5a0cc7796"
  },
  "id": "BbZ2xFrOfSlm1BcU",
  "tags": []
}