网易云歌单推送.json
{
  "name": "网易云歌单推送",
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const regex = /\\(([^)]+)\\)(?!.*\\()/;\n\nif (regex.test($input.item.json.text1)) {\n  $input.item.json.image =$input.item.json.text1.match(regex)[1];\n} else {\n  $input.item.json.image = null;\n}\n\nreturn $input.item;"
      },
      "id": "01238da3-3aa7-458c-a353-f78c2bbca193",
      "name": "图片",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -180,
        840
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const regex = /([\\s\\S]*?)(?=\\!?\\[\\])/;\n\nif (regex.test($input.item.json.text1)) {\n  $input.item.json.description =$input.item.json.text1.match(regex)[1];\n} else {\n  $input.item.json.description = null;\n}\n\nreturn $input.item;"
      },
      "id": "24580a4d-6ff9-47ed-9136-fa141bfc1318",
      "name": "描述",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        840
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chatId": "@mokoomusic",
        "text": "=*New public like via NeteaseMusic :*\n\n{{ $json.description }}[Media]({{ $json.image }})\n\n歌曲链接：[{{ $json.title }}]({{ $json.link }})   ",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": false,
          "disable_web_page_preview": false
        }
      },
      "id": "9c5ed182-f042-40ac-8fdf-cbcf9a30a35a",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        180,
        840
      ],
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "90qCUOfiyn5RGFyP",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "html": "={{ $json.content }}",
        "destinationKey": "text1",
        "options": {}
      },
      "id": "a2386283-8cab-441c-9e3f-3bbc16dd1735",
      "name": "Markdown1",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -380,
        840
      ],
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://feed.seaya.link/163/music/playlist/6855937930"
      },
      "id": "5573d13e-c8dc-42c9-b45f-0f83f49c52fc",
      "name": "RSS Feed Trigger",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -600,
        840
      ]
    },
    {
      "parameters": {
        "url": "https://mastodon.social",
        "text": "=New public like via NeteaseMusic :\n\n歌曲：{{ $json.title }}\n{{ $json.description }}\n歌曲链接：{{ $json.link }} ",
        "additionalFields": {
          "attachments": "=imagefile",
          "possiblySensitive": false
        }
      },
      "id": "6d3e158a-d01c-4d7f-904c-160f59c865b0",
      "name": "Mastodon",
      "type": "n8n-nodes-mastodon.mastodon",
      "typeVersion": 1,
      "position": [
        320,
        1080
      ],
      "credentials": {
        "mastodonOAuth2Api": {
          "id": "ij3HqJKmOinoxwKC",
          "name": "Mastodon account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.image }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "imagefile"
            }
          }
        }
      },
      "id": "785dc93a-0c71-4f1c-84f5-306e72bfc606",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        100,
        1080
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.nmbxd1.com/Home/Forum/doReplyThread.html",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Cookie\": \"userhash=\"\n}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "resto",
              "value": "64308586"
            },
            {
              "name": "name",
              "value": "= "
            },
            {
              "name": "content",
              "value": "=New public like via NeteaseMusic :\n\n歌曲：{{ $json.title }}\n{{ $json.description }}\n歌曲链接：{{ $json.link }} "
            },
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "60b09f73-e8f2-4ee4-8d03-e5379d2784d8",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        1280
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.image }}",
        "options": {}
      },
      "id": "0c4d4b7b-8c47-4639-8690-984a4e829913",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        100,
        1280
      ]
    },
    {
      "parameters": {
        "operation": "resize",
        "options": {
          "fileName": "image.png",
          "format": "png"
        }
      },
      "id": "54ea5413-0e5a-447a-8046-808436c26ad2",
      "name": "Edit Image",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        340,
        1280
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "图片": {
      "main": [
        [
          {
            "node": "描述",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown1": {
      "main": [
        [
          {
            "node": "图片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "描述": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Markdown1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Mastodon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Shanghai",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "373ce6e7-fcf9-42cc-a6c5-2a0a9b8d9d8f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e7aaaa8c870be3f4e9635b0143bd190be7e08ab73ad622f6064ea6a5a0cc7796"
  },
  "id": "yS7ZeGPVo8zoqSyK",
  "tags": []
}